# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ayirboshlash
DB_USER=ayir_user
DB_PASS=your_strong_password

# Telegram bot (keyinroq)
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# Scraper interval (daqiqa)
SCRAPE_INTERVAL=30
